

    <div class="product">
        <div class="product_container">
          <div class="top"></div>
          <div [class]="clicked ? 'bottom clicked' :'bottom' ">
            <div class="left">
              <div class="details">
                <h1>Chair</h1>
                <p>£250</p>
              </div>
              <div class="buy" (click)="clicked=true" ><i class="material-icons">add_shopping_cart</i></div>
            </div>
            <div class="right">
              <div class="done"><i class="material-icons">done</i></div>
              <div class="details">
                <h1>Chair</h1>
                <p>Added to your cart</p>
              </div>
              <div class="remove" (click)="clicked=false"><i class="material-icons">clear</i></div>
            </div>
          </div>
        </div>
        <div class="inside">
          <div class="icon"><i class="material-icons">info_outline</i></div>
          <div class="contents">
            <table>
              <tr>
                <th>Width</th>
                <th>Height</th>
              </tr>
              <tr>
                <td>3000mm</td>
                <td>4000mm</td>
              </tr>
             
            </table>
          </div>
        </div>
      </div>

      

    <div class="product">
        <div class="product_container">
          <div class="top"></div>
          <div [class]="clicked ? 'bottom clicked' :'bottom' ">
            <div class="left">
              <div class="details">
                <h1>Chair</h1>
                <p>£250</p>
              </div>
              <div class="buy" (click)="clicked=true" ><i class="material-icons">add_shopping_cart</i></div>
            </div>
            <div class="right">
              <div class="done"><i class="material-icons">done</i></div>
              <div class="details">
                <h1>Chair</h1>
                <p>Added to your cart</p>
              </div>
              <div class="remove" (click)="clicked=false"><i class="material-icons">clear</i></div>
            </div>
          </div>
        </div>
        <div class="inside">
          <div class="icon"><i class="material-icons">info_outline</i></div>
          <div class="contents">
            <table>
              <tr>
                <th>Width</th>
                <th>Height</th>
              </tr>
              <tr>
                <td>3000mm</td>
                <td>4000mm</td>
              </tr>
             
            </table>
          </div>
        </div>
      </div>

      

    <div class="product">
        <div class="product_container">
          <div class="top"></div>
          <div [class]="clicked ? 'bottom clicked' :'bottom' ">
            <div class="left">
              <div class="details">
                <h1>Chair</h1>
                <p>£250</p>
              </div>
              <div class="buy" (click)="clicked=true" ><i class="material-icons">add_shopping_cart</i></div>
            </div>
            <div class="right">
              <div class="done"><i class="material-icons">done</i></div>
              <div class="details">
                <h1>Chair</h1>
                <p>Added to your cart</p>
              </div>
              <div class="remove" (click)="clicked=false"><i class="material-icons">clear</i></div>
            </div>
          </div>
        </div>
        <div class="inside">
          <div class="icon"><i class="material-icons">info_outline</i></div>
          <div class="contents">
            <table>
              <tr>
                <th>Width</th>
                <th>Height</th>
              </tr>
              <tr>
                <td>3000mm</td>
                <td>4000mm</td>
              </tr>
             
            </table>
          </div>
        </div>
      </div>

      

    <div class="product">
        <div class="product_container">
          <div class="top"></div>
          <div [class]="clicked ? 'bottom clicked' :'bottom' ">
            <div class="left">
              <div class="details">
                <h1>Chair</h1>
                <p>£250</p>
              </div>
              <div class="buy" (click)="clicked=true" ><i class="material-icons">add_shopping_cart</i></div>
            </div>
            <div class="right">
              <div class="done"><i class="material-icons">done</i></div>
              <div class="details">
                <h1>Chair</h1>
                <p>Added to your cart</p>
              </div>
              <div class="remove" (click)="clicked=false"><i class="material-icons">clear</i></div>
            </div>
          </div>
        </div>
        <div class="inside">
          <div class="icon"><i class="material-icons">info_outline</i></div>
          <div class="contents">
            <table>
              <tr>
                <th>Width</th>
                <th>Height</th>
              </tr>
              <tr>
                <td>3000mm</td>
                <td>4000mm</td>
              </tr>
             
            </table>
          </div>
        </div>
      </div>

      

    <div class="product">
        <div class="product_container">
          <div class="top"></div>
          <div [class]="clicked ? 'bottom clicked' :'bottom' ">
            <div class="left">
              <div class="details">
                <h1>Chair</h1>
                <p>£250</p>
              </div>
              <div class="buy" (click)="clicked=true" ><i class="material-icons">add_shopping_cart</i></div>
            </div>
            <div class="right">
              <div class="done"><i class="material-icons">done</i></div>
              <div class="details">
                <h1>Chair</h1>
                <p>Added to your cart</p>
              </div>
              <div class="remove" (click)="clicked=false"><i class="material-icons">clear</i></div>
            </div>
          </div>
        </div>
        <div class="inside">
          <div class="icon"><i class="material-icons">info_outline</i></div>
          <div class="contents">
            <table>
              <tr>
                <th>Width</th>
                <th>Height</th>
              </tr>
              <tr>
                <td>3000mm</td>
                <td>4000mm</td>
              </tr>
             
            </table>
          </div>
        </div>
      </div>