:host{
    .logo{
        color: white;
        font-weight: 600;    
    }
    .header{
        background: linear-gradient(to right,#FF7500, #f12711); 
        height: 100px;

        display: flex;
        align-items: center;
        padding: 10px 28px; //global

        position: sticky;
        top: 0px;
        z-index: 100;
    }
    .input-component{
        flex: 1;
        border-radius: 4px;
        padding: 4px;
        margin: 0 18px;
        background-color: #fff;
        form{
            display: flex;
        }
        input{
            height: 12px;
            padding: 10px;
            width: 100%;

        }
        button{
            padding:5px;
            height: 22px ;
            display: grid;
            place-content:center;
            &:hover{cursor: pointer;}
        }
        input,button{
            border: none;
            outline: none;
            background: none;
        }
    }
    .user-actions{

        display: flex;
        justify-content: space-evenly;
        .btn{
            background: transparent;
            color: #fff;
        }    
    }
    
   
}