:host{
    .top_filters_filters{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 200px;
        margin: 48px 0;
        .filter{
            text-align: center;
            .filter_image{
                border-radius: 50%;
                width: 80px;
                height: 80px;
                background-image: url('.././../../../../assets/images/profile-img.jpg');
                background-size: cover;
                background-position: center;
            }
            p{
                margin-top: 6px;
            }
        }
    }
}