:host{
    .container-modality-filters-products{
        background-color: #F0F0F0;
        padding: 24px 0 ;
    }
    .side_filters_and_product_list{
        padding: 0 28px; //global
        display: flex;
        justify-content: space-between;
    }
}