/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


/* --------GLOBAL---------- */
html, body { 
    height: 100%;
}
*,p,h1,h2,h3,h4,h5,h6,span,div,small,strong{
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper{
    max-width: 1466px;
}
