<div class="wrapper">
  <footer class="footer">
    <div class="menu-socials">
      <div class="menu">
        <div class="containers">
          <h4>Conocenos</h4>
          <p>Data</p>
          <p>Redes</p>
          <p>App</p>
        </div>
        <div class="containers">
          <h4>SD PREMIUM</h4>
          <p>Envios en 24hs</p>
          <p>Descuentos</p>
          <p>Posiciona mejor tu marca</p>
        </div>
        <div class="containers">
          <h4>Soporte</h4>
          <p>Comercial</p>
          <p>Envios</p>
          <p>Politica de envios</p>
          <p>Facturacion</p>
        </div>
        <div class="containers">
          <h4>RSE</h4>
        </div>
      </div>
      <div class="socials-container">
        <div class="socials">
            <small>Siguenos en nuestras redes</small>
            <div class="socials-logos">
              <a href="https://www.facebook.com/SoyDelivery" target="_blank" rel="noopener noreferrer"> <img src="assets/images/icons/facebook.svg" alt="facebook logo" ></a>
              <a href="https://www.instagram.com/soydelivery.uy/" target="_blank" rel="noopener noreferrer"> <img src="assets/images/icons/instagram.svg" alt="instagram logo" ></a>
              <a href="https://twitter.com/Soy_Delivery" target="_blank" rel="noopener noreferrer"> <img src="assets/images/icons/twitter.svg" alt="twitter logo" ></a>
              <a href="http://" target="_blank" rel="noopener noreferrer"> <img src="assets/images/icons/youtube.svg" alt="youtube logo" ></a>
            </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="payments-develop">
      <div class="payments">
        <img src="assets/images/icons/visa.svg" alt="visa logo" >
        <img src="assets/images/icons/mastercard.svg" alt="visa logo" >
        <img src="assets/images/icons/paypal.svg" alt="visa logo" >
      </div>
      <div class="develop">Desarrollado por:<img src="assets/images/icons/screen.svg" alt="screen" ></div>
    </div>
  </footer>
</div>
